<!DOCTYPE html>
<html>
  <head><title>Scrumio | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/fontawesome.css">
    <link rel="stylesheet" href="../public/stylesheets/main.css">
    <link rel="stylesheet" href="../public/stylesheets/slick.css">
    <link rel="stylesheet" href="../public/stylesheets/slick-theme.css">
  </head>
  <body>
    <header class="navbar sticky-top">
      <a class="navbar-brand"><img src="..public/images/logo.png"></a>
      <a class="nav-link">Scrumio</a>
    </header>
  </body>
</html>
